.wrapper {
    width: 100%;
    margin-top: 70px;
}

.filter {
    ul {
        display: flex;
        justify-content: space-around;
    }
    li {
        list-style: none;
        font-weight: 600;
    }
}

.filter-2 {
    width: 35%;
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        list-style: none;
    }
    img {
        width: 35px;
    }
}
